<div class="container">
  <div class="row">
    <div class="col-sm-8 mt-4 px-sm-0 offset-sm-1">
      <h2>会員情報編集</h2>
    </div>

    <div class="row mx-auto pt-4">
      <div class="col-12 text-center">
        <%= form_with model: @customer, url: customer_path(@customer), method: :patch do |f| %>
          <table class="text-left">
            <tr>
              <th>氏名</th>
              <td><%= f.text_field :last_name, autofocus: true %></td>
              <td><%= f.text_field :first_name %></td>
            </tr>
            <tr>
              <th>フリガナ</th>
              <td><%= f.text_field :last_name_kana %></td>
              <td><%= f.text_field :first_name_kana %></td>
            </tr>
            <tr>
              <th><%= f.label "郵便番号" %></th>
              <td><%= f.text_field :postal_code %></td>
            </tr>
            <tr>
              <th><%= f.label "住所" %></th>
              <td><%= f.text_field :address %></td>
            </tr>
            <tr>
              <th><%= f.label "電話番号" %></th>
              <td><%= f.text_field :phone_number %></td>
            </tr>
            <tr>
              <th class="pr-4"><%= f.label "メールアドレス" %></th>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
            </tr>
          </table>

          <div class="row mt-4 offset-sm-4">
            <%= f.submit '編集内容を保存する', class: "btn btn-success" %>
            <%= link_to "退会する", customers_out_path, class: "btn btn-danger ml-5" %>
          </div>

        <% end %>
      </div>
    </div>

  </div>
</div>
