<h2>マイページ</h2>
<h2>登録情報</h2>

  <%= link_to "編集する", edit_customer_path(@customer.id), class: "btn btn-sm btn-primary" %>

<table>
  <tr>
    <th>氏名</th>
    <td><%= current_customer.last_name %></td>
    <td><%= current_customer.first_name %></td>
  </tr>
  <tr>
    <th>カナ</th>
    <td><%= current_customer.last_name_kana %></td>
    <td><%= current_customer.first_name_kana %></td>
  </tr>
  <tr>
    <th>郵便番号</th>
    <td><%= current_customer.postal_code %></td>
  </tr>
  <tr>
    <th>住所</th>
    <td><%= current_customer.address %></td>
  </tr>
  <tr>
    <th>電話番号</th>
    <td><%= current_customer.phone_number %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= current_customer.email %></td>
  </tr>
</table>
<div class="actions">
  配送先
   <%= link_to "一覧を見る", addresses_path, class: "btn btn-sm btn-primary" %>
</div>
<div class="actions">
  注文履歴
    <%= link_to "一覧を見る", orders_path, class: "btn btn-sm btn-primary" %>
</div>