<div class="container">
  <div class="row">
    <div class="col-sm-8 mt-4 px-sm-0 offset-sm-1">
      <h2><%= t('.sign_in') %></h2>
    </div>
    <div class="row mx-auto pt-4">
      <div class="col-12 text-center">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <table class="text-left">
          <tr>
            <th class="pr-4"><%= f.label :email %></th>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </tr>
          <tr>
            <th><%= f.label :password %></th>
            <td><%= f.password_field :password, autocomplete: "current-password" %></td>
          </tr>
        </table>

        <div class="actions mt-4">
          <%= f.submit "ログイン", class: "btn btn-primary d-grid gap-2 col-4" %>
        </div>
      <% end %>

      <%= render "admin/shared/links" %>
      </div>
    </div>
  </div>
</div>
