<div class= "container">
  <div class="row">
    <div class="col-md-8 mt-4 mb-4">
<h2>配送先編集</h2>
</div>
</div>
<div class="row justify-content-start">
  <div class="col-md-10 mt-4 mb-4">
<%= form_with model: @address, local: true do |f| %>
  <table>
    <tr>
      <th>郵便番号(ハイフンなし)</th>
          <td><%= f.text_field :postal_code %></td>
     </tr>
    <tr>
      <th>住所</th>
      <td><%= f.text_field :address, :size =>"50*50" %></td>
    </tr>
    <tr>
      <th>宛名</th>
      <td>
        <%= f.text_field :name %>
        <%= f.submit "変更内容を保存",class:"btn btn-success" %>
      </td>
    </tr>
  </table>
<% end %>
</div>
</div>
</div>